@using RideshareAdmin.Console.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link href="~/Content/AdminLTE/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/css/blue.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Rideshare</b>Admin</a>
        </div>
        <div class="login-box-body">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <p class="login-box-msg">Sign in to start your session</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group has-feedback">

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", maxlength = 30, minlength = 6 })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", maxlength = 15, minlength = 6 })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="form-group">
                        
                            
                                @*@Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)*@
                            
                     </div>
                  
                    <div class="form-group">
                        <div class="center-block">
                            <input type="submit" value="Log in" class="btn btn-primary btn-block btn-flat" />
                        </div>

                    </div>
                    @Html.ActionLink("Register as a new user", "Register")
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}