@using RideshareAdmin.WebUI.Models
@model LoginViewModel

@{
    Layout ="~/Views/Shared/_LoginPageLayout.cshtml";
}

@{
    ViewBag.Title = ""; 
}
<link href="~/Content/css/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/css/blue.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Rideshare</b>Admin</a>
        </div>
        <div class="login-box-body">
           
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <p class="login-box-msg">Sign in to start your session</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName", maxlength = 15, minlength = 6 })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", maxlength = 15, minlength = 6 })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>

                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>

                    </div>
                }
            
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}