@using RideshareAdmin.Console.AdminLte
@using RideshareAdmin.Console.Models
@model RideListViewModel
@{
    ViewBag.Title = "Rides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
<div>
   

<div class="input-group-addon date" data-provide="datepicker">
    <p style="float: left; margin-top: 10px;"><b>Start Date</b></p><input type="text" class="form-control" id="fromdate">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>

<div class="input-group-addon date" data-provide="datepicker">
    <p style="float: left; margin-top: 10px;"><b>Start Date</b></p><input type="text" class="form-control" id="Enddate">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
    </div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Ride Detials</h3>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
              
                <tr>
                    <th>Ride Date</th>
                    <th>Ride Time</th>
                    <th>Rider Name</th>
                    <th>Driver Name</th>
                    <th>Start Location</th>
                    <th>Destination</th>
                    <th>Distance from Km</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RideList)
                {
                     <tr>
                        <td>@item.date</td>
                        <td>@item.time</td>
                        <td>@item.userName</td>
                        <td> @item.driverUserName</td>
                         <td>@item.sourseName</td>
                         <td>@item.destinationName</td>
                         <th>@item.distance Km</th>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

