@using RideshareAdmin.Console.AdminLte
@using RideshareAdmin.Console.Models
@model RideListViewModel
@{
    ViewBag.Title = "Rides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("RideList", "", "fa-dashboard")
    });
}

<form method="post" action="@Url.Action("Rides", "Details")">
    <div>


        <div class="input-group-addon date" data-provide="datepicker">
            <p style="float: left; margin-top: 10px;"><b>Start Date</b></p>
            @*<input type="text" class="form-control" id="fromdate">*@
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
                <input type="text" name="startdate" />
            </div>
        </div>

        <div class="input-group-addon date" data-provide="datepicker">
            <p style="float: left; margin-top: 10px;"><b>Start Date</b></p>
            @*<input type="text" class="form-control" id="Enddate">*@
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
                <input type="text" name="endate" />

            </div>


        </div>
        <input type="submit" value="Go" class="btn btn-success" />
    </div>


</form>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Ride Detials</h3>

    </div>

    <!-- /.box-header -->

    <div class="box-body">
        <table id="RideDetailTable" class="table table-bordered table-striped">
            <thead>

                <tr>
                    <th>Ride Date</th>
                    <th>Ride Time</th>
                    <th>Rider Name</th>
                    <th>Driver Name</th>
                    <th>Start Location</th>
                    <th>Destination</th>
                    <th>Distance from Km</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RideList)
                {
                    <tr>
                        <td>@item.date</td>
                        <td>@item.time</td>
                        <td>@item.userName</td>
                        <td>@item.driverUserName</td>
                        <td>@item.sourseName</td>
                        <td>@item.destinationName</td>
                        <th>@item.distance Km</th>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>


@section scripts
{
    <script src="~/Scripts/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#RideDetailTable").DataTable();
        });
    </script>

}

